@font-face {
    font-family: 'Geiny';
    src: url('Geiny-Regular.eot');
    src: local('Geiny'), local('Geiny-Regular'),
        url('Geiny-Regular.eot?#iefix') format('embedded-opentype'),
        url('Geiny-Regular.woff2') format('woff2'),
        url('Geiny-Regular.woff') format('woff'),
        url('Geiny-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

